
body{
    max-width: 100%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.navbar{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.navbar ul li{
    display: inline-block;
    
}

.navbar ul li a{
    margin-right: 2em;
    text-decoration: none;
    color: #37474F;
}

.navbar img{
    width: 160px; 
    height: 25px;
}


.navbar li :hover {
    
    border-bottom: #F2888E 2px solid;
}

.pagination .step-links a{
    color: #37474F;
    font-size: 20px;
    font-weight: 500;

}

.banner {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    text-align: left;   
}

.bannerText {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    text-align: left; 
    

}

.bannerText h4{
    color:#37474F;
    font-family: Poppins;
    font-size: 18px;

    line-height: 111%;
    text-align: Left;
}

.bannerText h1{
    color:#406590;
    font-family: Roboto Mono;
    font-size: 48px;
    line-height: 100%;
    text-align: Left;
    
}

.join{
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 30;
    text-align: center;
    color: #FFFFFF;
    background-color: #F2888E ;
    border-radius:15px;
}