<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>IEEE Ionian SB</title>
</head>
<body>
    {% load static %}

    <div class="navbar">
        <a href="http://localhost:8000/events/">
            <img src="{% static 'images/LogoLetters.png' %}">
        </a>
        <ul>
            <li><a href="http://localhost:8000/events/">Αρχική</a></li>
            <li><a href="http://localhost:8000/events/">Εκδηλώσεις</a></li>
            <li><a href="http://localhost:8000/events/">Πληροφορίες</a></li>
        </ul>
    </div>
    
    <h2>Προσεχώς</h2>

    {% for event in all_events.page_upcomming_obj %}
    <div class="event-preview-upcomming">
        <a href="{{ event.id }}/">{{ event.title }}</a> <br>
        <img src="/media/{{event.image}}"> <br>
        <p>{{ event.date }}</p>
        <button id="event-button" onclick="location.href='{{ event.id }}'">Μάθε περισσότερα!</button>
    </div>
    <br>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if all_events.page_upcomming_obj.has_previous %}
                <a href="?page_upcomming={{ all_events.page_upcomming_obj.previous_page_number }} " style="padding-right: 10px;">Προηγούμενο</a>
            {% endif %}
        
            {% if all_events.page_upcomming_obj.has_next %}
                <a href="?page_upcomming={{ all_events.page_upcomming_obj.next_page_number }}">Επόμενο</a>
                
            {% endif %}
        </span>
    </div>

    <h2>Περασμένες</h2>
    {% for event in all_events.page_past_obj %}
    <div class="event-preview-past">
        <a href="{{ event.id }}/">{{ event.title }}</a> <br>
        <img src="/media/{{event.image}}"> <br>
        <p>{{ event.date }}</p>
        <button id="event-button" onclick="location.href='{{ event.id }}'">Μάθε περισσότερα!</button>
    </div>
    <br>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if all_events.page_past_obj.has_previous %}
                <a href="?page_past={{ all_events.page_past_obj.previous_page_number }} " style="padding-right: 10px;">Προηγούμενο</a>
            {% endif %}
        
            {% if all_events.page_past_obj.has_next %}
                <a href="?page_past={{ all_events.page_past_obj.next_page_number }}">Επόμενο</a>
                
            {% endif %}
        </span>
    </div>

</body>
</html>
