<!--
Documentation[
 /Changes in this commit/ 
    fixed the positioning of the Welcome txt in the banner(line45).
 /ToDo/
    place the buttom at the correct position.
 /notes/
    When the list with the events is made, the button will need to be repaired.]
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/events/style.css">
    <title>Landpage</title>
</head>
<body>
    {% load static %}
    <div class="navbar">
        <a href="http://localhost:8000/events/">
            <img src="{% static 'images/LogoLetters.png' %}">
        </a>
        <ul>
            <li><a href="http://localhost:8000/events/">Αρχική</a></li>
            <li><a href="http://localhost:8000/events/">Εκδηλώσεις</a></li>
            <li><a href="http://localhost:8000/events/">Πληροφορίες</a></li>
        </ul>
    </div>
<!--banner-->
    <div class="banner">
      <!--the following is to call the font-->
        
      <!--poppins-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <!--Roboto Mono-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
        
        <!--texts-->
        <div class="Welcome">
            <h1>Καλωσορίσατε<br> στην ομάδα μας!</h1>
            <div class="takePart">
                <h4>Λάβε μέρος στην ερχόμενη εκδήλωση μας.</h4>
            </div>
        </div>
        <!--button-->
        <button class="join">Δήλωσε συμμετοχή</button>  
        
        <!--logo-->
        <img src="{%static 'images/BannerProfile.png' %}">
    </div>
    
    
    {% for event in page_obj %}
    <a href="{{ event.id }}/">{{ event }}</a>
    <br>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }} " style="padding-right: 10px;">Προηγούμενο</a>
            {% endif %}
        
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Επόμενο</a>
                
            {% endif %}
        </span>
    </div>

</body>
</html>